.head-section{
	border-bottom:1px solid #E6E6E6;
	clear: both;
	overflow: hidden;
	width: 100%;
}
.head-sub{
	padding: 10px 20px 0px 20px;
}
.head-sub a{
	text-decoration: none;
}
.head-sub h3{
	color: #3a2626;
}
.body-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}
.message{
	font-family: sans-serif;
}
.message ul{
	transform: rotate(180deg);
	padding: 0px;
	list-style: none;
	margin: 0px auto;
	width: 100%;
	overflow:hidden;
}
.message ul > li {
    transform: rotate(-180deg);
}
.message nav ul{
	margin: 0px;
	height: 464px;
	overflow: hidden;
    overflow-y: scroll;
}
.message ul li{
	position: relative;
	width: 80%;
	padding: 15px 0px;
	clear: both;
}

.message{
	height: calc(100% - 68px);
	font-family: sans-serif;
}
.message ul li{
	position: relative;
	width: 80%;
	padding: 15px 0px;
	clear: both;
}



.message ul li.msg-left{
	float: right;
}
.message ul li.msg-left .msg-desc{
	margin-left: 70px;
	font-size: 12px;
	background: white;
	color: #3a2626;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
	overflow-wrap: break-word;
}
.message ul li.msg-left .msg-desc:before{
	position: absolute;
	content: '';
	border:10px solid transparent;
	border-bottom-color: white;
	bottom: 0px;
	left: -10px;
}
.message ul li.msg-left small{
	float: right;
	color: #4a3c3a;
}



.message ul li.msg-right{
	float: left;
}
.message ul li.msg-right .msg-desc{
	margin-right: 70px;
	font-size: 12px;
	background: #eab3a4;
	color: #402c27;
	padding:5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
	overflow-wrap: break-word;
}
.message ul li.msg-right .msg-desc:before{
	position: absolute;
	content: '';
	border:10px solid transparent;
	border-bottom-color: #eab3a4;
	bottom: 0px;
	right: -10px;
}
.message ul li.msg-right small{
	float: right;
	color: #3a2626;
	margin-right: 70px;
}




.body-bottom{
	background: #fff;
	width: 97%;
	padding: 15px;
	position: absolute;
	bottom: 0px;
	border-top:1px solid #E6E6E6;
	text-align: center;
}
.body-bottom input{
	border:0px;
	padding:8px 5px;
	width:calc(100% - 150px);
}
.body-bottom .btn-send{
	border:0px;
	padding: 8px 10px;
	float: right;
	margin-right: 30px;
	color: #C7928F;
	font-size: 18px;
	background: #fff;
	cursor: pointer;
}
.upload-btn{
  	position: relative;
  	overflow: hidden;
  	display: inline-block;
  	float: left;
	width: 100%;
}
.upload-btn .btn{
	border:0px;
	padding: 8px 10px;
	color: #C7928F;
	font-size: 18px;
	background: #fff;
	cursor: pointer;
}

.join-group-main {
    margin: 179px auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #c49a9a;
	background-color: #e9ded2;
    border-radius: 4px;
	width: 400px;
}
.join-group-sub{
	overflow-wrap: break-word;
    padding: 20px;
}

.join-group-sub h2{
    color: #3a2626;
}
.join-group-sub button:hover {
    background-color: #9C1A1C;
}
.joinbtn{
    background-color: #C7928F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cancelbtn{
    background-color: #b1b1b1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}