.create-main{
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #c49a9a;
    border-radius: 4px;
    width: 800px;
    height: 520px;
}
.create-form{
    padding: 20px;
}

.create-form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.create-form input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.create-form textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.create-form h2{
    color: #3a2626;
}
.create-form label{
    color: #3a2626;
}

.submitbtn:hover {
    background-color: #9C1A1C;
}
.submitbtn{
    background-color: #C7928F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}