.head-sub{
	padding: 18px;
	text-align: center;
	align: center;
	background: #e0cfbb;
}
.head-sub input{
	width: 60%;
	height: 37%;
	border-radius: 0px;
	border:1px solid #E6E6E6;
	padding: 7px;
}
.head-sub button{
	cursor: pointer;
	background: #c7928f;
	color: #4e3131;
	border:1px solid #c7928f;
	border-radius: 8px;
	padding: 12px 16px;
}
.body-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}
.body-sub{
	height: 498px;
	border-right:1px solid white;
	background-color: white;
	z-index: 1;
	position: relative;
}
.body-sub ul{
    padding: 0px;
	margin: 0px;
	list-style: none;
}
.body-sub nav ul{
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.body-sub ul li{
	border-bottom: thin solid #f1e4d7;
	padding: 10px 15px;
	cursor: pointer;
	overflow-wrap: break-word;
}
.body-sub ul li:active{
	background: #c78f8f;
	color: #fff;
	position: relative;
}
.body-sub .chatList{
	overflow: hidden;
}

.body-sub .chatList .desc{
	width: calc(100% - 60px);
	float: left;
	position: relative;
}
.body-sub .chatList .desc h4{
	margin-top: 16px;
	margin-bottom: 16px;
}

.dropbtn{
  	background-color: #969796;
  	height: 46px;
  	color: white;
  	padding: 14px 16px;
  	text-align: center;
  	border: none;
  	cursor: pointer;
  	text-decoration: none;
}
.createbtn{
	background-color: #c7928f;
  	border: none;
}
.dropdown{
	width: 220px;
  	position: relative;
  	display: inline-block;
}
.dropdown-content{
  	display: none;
  	position: absolute;
  	background-color: #C7928F;
  	min-width: 220px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-content .content{
  	color: white;
  	padding: 14px 10px;
  	text-decoration: none;
  	display: block;
	margin: 0px;
	width: 100%;
	background-color: #C7928F;
	border: none;
	font-size: medium;
}
.dropdown-content .content:hover{
  	background-color: sandybrown;
}
.dropdown:hover .dropdown-content{
  	display: block;
}
.dropdown:hover .dropbtn{
  	background-color: #9C1A1C;
}