body{
    font-family: 'Raleway', sans-serif;
	background-color: #f6f6f6;
	margin: 0px 0px;
	overflow: hidden;
}


.nav-bar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #969796;
  height: 46px;

}
.nav-bar1 li {
  float: right;
}
.nav-bar1 li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar1 li a:hover {
  cursor: pointer;
  background-color: #c7928f;
}



.main-section small{
	font-size: 12px;
}
.main-section h5{
	margin: 0px;
}
.main-section{
	width: 960px;
	height: 600px;
	background-color: #e0cfbb;
	margin: 50px auto;
	position: relative;
  	overflow: auto;
}

