.main-login {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 10px;
  	overflow: auto;
}

.nav-bar li {
	float: right;
}
.nav-bar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar li a:hover {
  cursor: pointer;
  background-color: #c7928f;
}