.view-main{
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #c49a9a;
    border-radius: 4px;
    width: 800px;
    height: 520px;
    color: #3a2626;
}
.view-sub{
    padding: 20px;
}
.view-sub h2{
    color: #3a2626;
}
.text-area {
    margin: 10px 0px;
    height: 90px;
    overflow: scroll;
    overflow-wrap: break-word;
}
.leavebtn:hover {
    background-color: #9C1A1C;
}
.leavebtn{
    background-color: #969796;
    color: white;
    padding: 14px 20px;
    border: none;
    position: absolute;
    bottom: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.view-left{
    float: left;
    padding: 20px;
    width: 440px;
    background: #f5eadb;
    height: 440px;
}
.view-left ul{
    margin: 10px 0px;
    height: 90px;
    overflow: scroll;
    overflow-wrap: break-word;
}
.view-right{
    overflow: hidden;
    float: right;
    padding: 20px;
    width: 220px;
    background: #f5eadb;
    height: 440px;
}

.right-list ul{
    padding: 0px;
	margin: 0px;
	list-style: none;
}
.right-list nav ul{
    height: 370px;
    overflow: hidden;
    overflow-y: scroll;
}
.right-list ul li{
	border-bottom: thin solid #f1e4d7;
	padding: 10px 15px;
}