{% extends "layout.html" %}

{% block title %}{{ name[0] }}{% endblock %}

{% block head1 %}
<link href="../static/chat.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content1 %}
{% if member %}
    <li>
        <a onclick="location.href='/'">Back</a>
    </li>
{% else %}
    <li>
        <a onclick="goBack()">Back</a>
    </li>
{% endif %}
{% endblock %}

{% block content2 %}
<div class="head-section">
    <div class="head-sub">
        <a href="/view/{{ id }}"> <h3>{{ name[0] }}</h3></a>
    </div>
</div>
<div class="body-section">
    {% if member %}
    <div class="message">
        <nav>
            <ul>
                {% for message in messages %}
                {% if message[3] == session.user_id %}
                <li class="msg-right">
                    <div class="msg-right-sub">
                        <div class="msg-desc">
                            <b>{{ message[0] }}</b>
                            <p>{{ message[1] }}</p>
                        </div>
                        <small>{{ message[2].strftime("%Y-%m-%d %H:%M") }}</small>
                    </div>
                </li>
                {% else %}
                <li class="msg-left">
                    <div class="msg-left-sub">
                        <div class="msg-desc">
                            <b>{{ message[0] }}</b>
                            <p>{{ message[1] }}</p>
                        </div>
                        <small>{{ message[2].strftime("%Y-%m-%d %H:%M") }}</small>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="body-bottom">
        <form action="/messages/{{ id }}" method="post">
            <div class="upload-btn">
                <input type="text" name="content" required="required" placeholder="Type here...">
                <button class="btn-send" type="submit" value="send">Send</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </form>
    </div>
    {% else %}
    <div class="join-group-main">
        <div class="join-group-sub">
            <h2>Join {{ name[0] }}</h2>
            <div class="join-group-buttons">
                <form action="/join/{{ id }}" method="post">
                    <button class="joinbtn" type="submit">Join</button>
                    <button class="cancelbtn" type="button" onclick="goBack()">Cancel</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
