{% extends "layout.html" %}

{% block title %}Create{% endblock %}

{% block head1 %}
<link href="../static/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content1 %}
    <li>
        <a onclick="location.href='/'">Back</a>
    </li>
{% endblock %}

{% block content2 %}
<div>
    <form action="/" method="post">
        <h3 class="header">Create a new chat</h3>
        <div class="content">
            <label for="name" class="chat-name">Title:</label><br>
            <input type="text" name="name" id="name" maxlength="50">

            <label for="info" class="chat-info">Description:</label><br>
            <textarea name="info" id="info" rows="4" cols="60" placeholder="Describe the chat" maxlength="300"></textarea>

            <label for="tags" class="chat-tags">Tags:</label><br>
            <input type="text" name="tags" id="tags" maxlength="200">

            <label for="limit" class="chat-limit"> :</label><br>
            <input type="number" name="tags" id="limit" min="2" max="200">
        </div>
        <button type="submit" class="submitbtn">Create</button>
        </form>
</div>
{% endblock %}
