<!DOCTYPE html>
<html>
    <head>
        <link href="../static/error.css" rel="stylesheet" type="text/css">
    </head>

    <body>
       <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">dropdropdrop</button>
                    <div class="dropdown-content">
                        <a>link 1</a>
                        <a>link2</a>
                    </div>
                </div>
            </li>
       </ul>
<p>{{ message }}</p>
    </body>
</html>
