{% extends "layout.html" %}

{% block title %}App{% endblock %}

{% block head1 %}
<link href="static/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content1 %}
    <li>
        <div class="dropdown">
            <button class="dropbtn"><b>{{ username }}</b></button>
            <div class="dropdown-content">
                <a onclick="location.href='/logout'" class="content" style="width: 200px">Sign out</a>
                <form action="/delete" method="GET">
                    <input type="submit" onclick="return clicked()" value="Delete account" class="content">
                </form>
            </div>
        </div>
    </li>
    <li>
        <a class="homebtn" onclick="location.href='/'">Home</a>
    </li>
    <li>
        <a class="createbtn" onclick="location.href='/create'">New chat</a>
    </li>
{% endblock %}
{% block content2 %}
        <div class="head-section">
            <div class="head-sub">
                <form action="/search">
                    <input type="text" name="query" placeholder="Search for new chats..">
                    <button type="submit"> <i class="search-button"></i>Search</button>
                </form>
            </div>
        </div>
        <div class="body-section">
            <div class="body-sub">
                <nav>
                    <ul>
                        {% for group in groups %}
                        {% if type == 1 %}
                            <li onclick="location.href = '/messages/{{ group[1] }}'">
                            <div class="chatList">
                                <div class="desc">
                                    <h4>{{ group[0] }}</h4>
                                    <small>{{ group[2] }}</small>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% if type == 0 %}
                        <li onclick="location.href = '/messages/{{ group[1] }}'">
                            <div class="chatList">
                                <div class="desc">
                                    <h4>{{group[0]}}</h4>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
<script>
    function clicked() {
        return confirm("Do you want to delete the user {{ username }}");
    }
</script>
{% endblock %}