{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block head1 %}
<link href="static/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content1 %}
    <li>
        <a onclick="location.href='/register'">Register</a>
    </li>
{% endblock %}

{% block content2 %}
<div class="login-main">
    <form class="login-form" action="/login" method="POST">
        <h2>Login</h2>
        <div class="login-form-sub">
            <label name="username">Username:</label><br>
            <input type="text" name="username" id="username" required="required">

            <label name="password">Password:</label><br>
            <input type="password" name="password" id="password" required="required">
        </div>
        <button type="submit" class="loginbtn">Login</button>
    </form>
</div>
{% endblock %}