{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block head1 %}
<link href="static/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content1 %}
    <li class="nav-bar">
        <a onclick="location.href='/login'">Login</a>
    </li>
{% endblock %}

{% block content2 %}

<div class="login-main">
    <form class="login-form" action="/register" method="POST">
        <h2>Register</h2>
        <div class="login-form-sub">
            <label name="username">Username:</label><br>
            <input type="text" name="username" id="username" required="required" maxlength="15">

            <label name="password">Password:</label><br>
            <input type="password" name="password" id="password" required="required" maxlength="128" minlength="8">
        </div>
        <button type="submit" class="loginbtn">Register</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}